body
    background-color: #FFD3A4
    font-size: 14px;
    font-family: 'Roboto', sans-serif;


h2,h3,h4,h5,ul,body,html
    padding: 0px
    margin: 0px

.mtop16
    margin-top: 16px


.wrapper
    min-height: 100vh
    overflow: hidden
    .col1
        float: left
        position relative
        z-index: 999
        width: 17%
    .col2
        float left
        width: 83%

.sidebar
    background-color: rgb(247, 197, 238)
    min-height: 100vh
    .section-top
        background-color: #2E0071
    .logo
        display: block
        margin: 0px auto
        padding-top: 24px
        width: 50%
    .user
        color rgb(255, 255, 255) !important
        font-weight: bold
        font-size: 16px
        padding: 16px
        a
            color: rgb(255, 255, 255)
            font-size: 1.2em
            float: right
    .main
        display: block
        font-size: 16px
        margin-top: 20px
        ul
            li
                 margin-bottom: 4px
                 a
                    color rgb(0, 0, 0)!important
                    display: block
                    font-size: 1.1em
                    padding: 12px 12px
                    text-decoration: none !important
                    i
                        margin-right: 16px
                    &:hover
                        background-color: #2E0071
                        box-shadow: 0 0.5rem 1rem rgb(190, 189, 189)
                        color rgb(255, 255, 255) !important
                        font-weight: bold
                        font-size: 1.1em
                        text-decoration: none
                a.active
                    background-color: #2E0071
                    box-shadow: 0 0.5rem 1rem rgb(190, 189, 189)
                    color rgb(255, 255, 255) !important
                    font-weight: bold
                    font-size: 1.1em
                    text-decoration: none
.navbar
    background-color: #2E0071
    padding: 16px
    a
        font-weight: bold
        font-size: 18px
        color rgb(255, 255, 255)
        &:hover
            color: #FFD3A4

.page
    padding-top: 16px
    padding-bottom: 16px
    .breadcrumb
        padding: 16px
        background-color: #2E0071
        box-shadow: 0 0.5rem 1rem rgb(190, 189, 189) !important
        .breadcrumb-item
            a
                text-decoration: none !important
                color: #FFF
                font-size: 16px
                &:hover
                    color: #FFD3A4
                    text-decoration: none !important

.panel
    background-color: #fff
    border-radius: 6px
    padding: 16px 16px
    border-bottom: 2px solid #2E0071
    width: 100%
    .header
        border-bottom: 1px solid #2E0071
        h2.title
            display inline-block
            color: #000
            font-weight: bold
            font-size: 18px
            padding: 12px 16px
        ul
            display: inline-block
            float: right
            margin-right: 12px
            li
                display: inline-block
                position: relative
                a
                    display: inline-block
                    padding: 10px
                    text-decoration: none
                    font-size: 16px
                    &:hover
                        background-color: #2E0071
                        color: #fff
                        font-weight: bold
                        text-decoration: none
                ul
                    background-color:#fff
                    display: none
                    float: none
                    position: absolute
                    width: 130px
                    li
                        display: inline-block
                        border-bottom: 1px solid #fff
                        width: 100%
                        &:last-child
                            border-bottom: 0px
                        a
                            display: block
                            width: 100%
                &:hover
                    ul
                        display: block
    .inside
        padding: 16px
        .nav
            .nav-link
                border: 1px solid rgb(89, 62, 240)
                margin-right: 8px
                &:hover
                    background-color: rgb(247, 197, 238) !important
                    color #fff
        .form_search
            display: none
            margin-bottom: 16px
            .btn
                width: 100%
                font-weight: bold
                background-color: #2E0071


.opts
    a
        border-radius: 4px
        border: 1px solid #dedede
        display: inline-block
        padding: 8px 12px

.product_gallery
    overflow: hidden
    .btn-submit
        display: block
        margin-right: 1
        width 100%
        a
            border 1px dashed #6666
            border-radius: 4px
            color #333
            display: block
            font-size: 1.5em
            text-align: center
            padding: 12px
            width: 100%
            &:hover
                background-color: #2E0071 !important
                color #fff
    .tumbs
        overflow: hidden
        .tumb
            float: left
            margin-top: 16px
            position: relative
            width: 48%
            a
                background-color: rgba(0,0,0, .5)
                border-radius: 50%
                display: inline-block
                color #fff
                padding: 6px 10px
                position: absolute
                bottom: 8px
                right: 8px
            img
                border-radius: 4px
                width: 100%
            &:nth-child(odd)
                margin-right: 4%

.page_user
    .mini_profile
        .info
            span
                display: block
                font-size: 1.2em
                width: 100%
            span.title
                font-weight: bold
        .avatar
            display: block
            margin: 0px auto
            border-radius: 50%
            width: 180px
        .btn
            width: 100%

.container-fluid
    .dropdown
        .btn
            background-color: #2E0071
            border-color: #2E0071
            font-weight: bold


