body
    margin: 0px
    background-image:url('/static/images/background.png')
    background-position: center 50px
    background-size: 900px;
    background-repeat: no-repeat
    background-color: #FFD3A4

.mtop16
    margin-top: 16px

.box
    background-color: #2E0071
    border-radius: 8px
    border: 1px solid #2E0071
    position: absolute
    width: 500px
    color: #fff
    font-weight: bold
    font-size: 22px
    .btn-success
        width: 100%
        color: #fff
        font-weight: bold
        font-size: 22px
    .form-control
        &:focus
        &:active
            outline: none
            box-shadow: none
    .inside
        padding: 16px
    .header
        padding 16px
        a
            img
                display: block
                margin: 0px auto
                width: 30%
    .register
        text-align: center

    .footer
        text-align: center
        a
            display: inline-block
            font-size: .8em
            &:last-child
                margin-left: 60px

    .fut
        text-align: center



.box_login
    left calc(50% - 250px)
    top calc(40% - 210px)

.box_register
    left calc(50% - 250px)
    top calc(40% - 390px)

.footer1
    text-align: center

